{% extends 'base.html.twig' %}

{% block title %}Hello EntreprisesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="entreprise">
    <div class="entrepriseStage">
        <h1>Voici les stages disponibles pour {{titreEntreprise}}</h1>
        {% for stage in listeStages %}
        <ul>
             <li>
                <div class="stage">
                    <div class="bouton">
                        <a href="/stages_id/{{stage.getId}}"> {{stage.getTitre}}
                        </a>
                    </div>
                    <div class="descriptifStage"><p>{{stage.getDescription}}</p></div>
                
                </div>
             </li>
        </ul>
        {%endfor%}
    </div>
</div>
{% endblock %}
