{% extends 'base.html.twig' %}

{% block title %}Hello FormationsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="formation">
    <h1> {{ controller_name }}! </h1>

    <div class="formationStage">
        <h1>Voici les stages disponibles</h1>
        {#{% for stage in Stage.formations %}#}
        <ul>
             <li>
                <div class="stage">
                <div class="nomStage"><h2>{#Stage.nom#}</h2></div>
                <div class="descriptifStage"><p>{#Stage.descriptif#}</p></div>
                <div class="bouton">
                {#<a href="/stages_id/{{Stage.id}}"> {{Stage.nom}}#}
                </a>
                </div>

             </li>
        </ul>
        {#{%endfor%}#}
    </div>
</div>
{% endblock %}
